# Dossiers Unity à ignorer
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/

# Fichiers Unity à ignorer
*.pidb
*.unityproj
*.sln
*.userprefs
*.DS_Store

# VSCode
.vscode/

# Fichiers système
.bash_history
.DS_Store

# Autres fichiers Unity
*.csproj
*.sln